h3 {
   color: brown;
   text-decoration: underline;
}

img {
  height: 220px;
  width: 220px;
  padding: 20px;
  border-radius: 50%;
}

.photos {
   text-align: center;
   width: 250px;
   padding: 10px;
   margin: 10px;
}

